@import './../../helper/colors'

.wrapper-needs
  background-color: $yellow-light
.container-needs
  display: flex
  justify-content: space-around
  align-items: center
  .filter-button
    padding: 0px
